@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: DanaBold;
    src: url("/font/dana-fanum/dana-fanum\ bold.woff"), url("/font/dana-fanum/dana-fanum\ bold.woff2");
}

@font-face {
    font-family: Dana;
    src: url("/font/dana-fanum/dana-fanum\ regular.woff"), url("/font/dana-fanum/dana-fanum\ regular.woff2");
}

:root {
    --whiteColor: #fff;
    /* --whiteColor: #e9e9e9; */
    --blackColor: #121315;
    --primaryColor: #5660f2;
    --lightColor: #f8f9fa;
    --darkColor: #4a4e57;
    --dangerColor: #fa5555;
    --successColor: #45c26f;
    --warningColor: #e1bc29;
    --blueColor: #0fa5e9;
    --backgroundColor: rgba(0, 0, 0, 0.5);
}

@layer base {
    * {
        @apply p-0 m-0 border-0 outline-0 decoration-transparent list-none box-border transition-all duration-150;
        font-family: Dana;
        direction: rtl;
    }

    body {
        @apply bg-jv-white w-full max-w-full h-screen min-h-screen relative;
    }
}

@layer components {
    #root {
        @apply bg-jv-white w-full max-w-full h-full relative;
    }

    .current-mega-height {
        height: calc(100dvh - 5rem);
    }
}

@layer utilities {
    .danaBold {
        font-family: DanaBold;
    }

    .menu__item {
        @apply select-none cursor-pointer h-full flex items-center mx-2 text-sm hover:text-jv-primary border-b-2 border-solid;
    }
}
